# This .gitignore file should be placed at the root of your Unity project directory
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.log
.utmp/

*.blend1
*.blend1.meta

/[Mm]emoryCaptures/
/[Rr]ecordings/

/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

.vs/
.gradle/

ExportedObj/
.consulo/
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt
mono_crash.*

*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

crashlytics-build.properties
InitTestScene*.unity*

/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# Plastic SCM (if you switch to Git)
.plastic/

# macOS resource forks (can break sync on other OS)
._*
.DS_Store

# Large 3rd-party asset packs (not fully used)
/Assets/SRG Studios/
/Assets/SandalStudio/
/Assets/Best Of Sound FX 2025/
/Assets/The_Sound_Guild_FREE_PACK_Footsteps_Volume_02/
/Assets/bosliderv2/
/Assets/bsoldiershield/
/Assets/bsoldierswordf/
